.root {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-secondary);

  padding: 18px;
}

.input {
  background-color: transparent;
  text-indent: 26px;

  color: var(--color-gray);

  flex: 1 1 100%;
}

.input._icon {
  flex: 0 1 85%;
}

.icon {
  flex: 0 1 7%;

  width: 20px;
  height: 20px;
}